<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

  <h2>SNSアカウントでログイン</h2>

        <div class="box-facebook"></br>
            <%= link_to user_facebook_omniauth_authorize_path do %>
            <i class="fa fa-facebook-official"></i> Facebookでログイン
            <% end %>
        </div>

        <div class="box-line"></br>
            <%= link_to user_line_omniauth_authorize_path do %>
            <i class="fa fa-mobile"></i> LINEでログイン
            <% end %>
        </div>

        <div class="box-google"></br>
            <%= link_to user_google_oauth2_omniauth_authorize_path do %>
            <i class="fa fa-google"></i> Googleでログイン
            <% end %>
        </div>

        <div class="box-twitter"></br>
            <%= link_to user_twitter_omniauth_authorize_path do %>
            <i class="fa fa-twitter"></i> Twitterでログイン
            <% end %>
        </div>

        <div class="box-instagram"></br>
            <%= link_to user_instagram_omniauth_authorize_path do %>
            <i class="fa fa-instagram"></i> Instagramでログイン
            <% end %>
        </div>

<%= render "users/shared/links" %>
