<%= form_with(model: @video, local: true) do |f| %>
  <%= render 'share/error_messages' , object: @video %>

  <%= f.label :title, class: "label-signup" %> <span class="must">必須</span>
  <%= f.text_field :title, placeholder: "例)好きな動画", class: "form-control" %>

  <%= f.label :youtube_url, class: "label-signup" %> <span class="must">必須</span>
  <%= f.text_field :youtube_url, placeholder: "YoutubeのURLを貼り付けてください", class: "form-control" %>

  <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-signup" %>
<% end %>